*
{
    margin:0;
    padding:0;
}
.netflixBackground
{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.netflixBackground >img
{
    width:100%;
    height:100%;
    object-fit: cover;
    filter: brightness(30%);
}
.navbar
{
    margin-top:10px;
    position:absolute;
    z-index: 1;
    width:100%;
    height:11.5%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.logo > img
{
    width:45%;
    height:50%;
    margin-left: 30%;
    padding:15px;
}
.buttonpair
{
    display:flex;
    width: 210px;
    column-gap: 13px;
    height: 40%;
    margin-right: 10%;
}
.language
{
    width: 60%;
    outline:none;
    height:97%;
    border:1px solid rgb(94, 94, 94);
    background-color:transparent;
    border-radius:5px;
}
.signin
{
    outline: none;
    border: none;
    width:37%;
    height:100%;
    border-radius:5px;
    background-color: red;
}
@font-face {
    font-family: 'netflix-font';
    src: url('assets/NetflixSans-Bold.otf') format('OpenType');
}
.infostore
{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    flex-direction: column;
    z-index:1;
    width:90%;
    padding:5%;
    padding-top: 8%;
    height:80%;
}
.center
{
    width:60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.9em;
}
.comment
{
    width:80%;
    height:20%;
    z-index:1;
    font-family: 'netflix-font',Arial, Helvetica, sans-serif;
    color:white;
    font-size:3.5rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: -3px;
    line-height:1.2em;
}
.startat
{
    height: auto;
    margin-top:17px;
    font-family: 'netflix-sans',Arial, Helvetica, sans-serif;
    font-weight: 650;
    font-size: 1.3em;
    color: white;
}
.question
{
    width:100%;
    height:35px;
    font-family: 'netflix-sans',Arial, Helvetica, sans-serif;
    color:white;
    font-weight: 400;
    text-align: center;
}
.continpbox
{
    width:100%;
    height:20%;
}
.inputbox
{
    width:100%;
    height:70%;
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
.email
{
    width:43%;
    padding:10px;
    background-color: transparent;
    border:1px solid rgb(101, 100, 100);
    border-radius: 5px;
}
.getstarted
{
    width:23%;
    background-color:red;
    border:none;
    outline: none;
    border-radius: 5px;

}